@import "variables";

$icon-font-path: '../fonts/';
$fa-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: $body-background;
}

.row {
  margin-bottom: $rows-space;
}

.direction {
	width: 100%;
	line-height: 25px;
}

.combobox-container .input-group {
	width: 50%;
}

.preview {
  position: relative;
  height: 120px;
  margin-top: 30px;
  margin-left: 20px;

  span {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
  }
}

.color,
.background {
  display: inline-block;
  width: 25px;
  height: 20px;
  box-shadow: 0 0 1em #aaa;
  margin-left: 5px;
  position: relative;
  top: 4px;
  cursor: pointer;
}